.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .feedback-form {
    min-width: 408px;
    padding: 24px;
    border: 2px solid #4aa3ff;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    }


    .feedback-form label {
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 6px;
    }


    .feedback-form input,
    .feedback-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
    resize: none;
    }


    .feedback-form input:hover,
    .feedback-form textarea:hover {
    border-color: #555;
    }


    .feedback-form input:focus,
    .feedback-form textarea:focus {
    border-color: #4aa3ff;
    }


    .feedback-form button {
    width: fit-content;
    padding: 10px 22px;
    background: #5c7cfa;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
    }

    .feedback-form button:hover {
    background: #6f8cff;
    }