.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.gallery-item{
    width: calc((100% - 24px * 2) / 3);
    list-style: none;
}
.gallery-image{
    display: block;
    width: 100%;
    height: auto;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.8);
    width: 100vw;
    height: 100vh;
}

.img-modal {
    max-width: 90vw;
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.4);
}